@{
    ViewBag.Title = "Calc Page";
}
<br/>
<br />



@model CalculatorApp.Models.Calculate
@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm("Index", "Calculator"))
{

    <div class="panel panel-default">
        <div class="panel-body">
            <div>
                @Html.Label("Enter first number") : @Html.TextBoxFor(model => model.Num1)
                @Html.Label("Enter second number") : @Html.TextBoxFor(model => model.num2)
                = @if (Model != null && Model.Answer != 0)
                {
                    @Model.Answer;
                }
            </div>
            <div>
                <h2>
                    @Html.RadioButtonFor(model => model.Operator, "Add") +
                    <br>
                    @Html.RadioButtonFor(model => model.Operator, "Subtract") -
                    <br>
                    @Html.RadioButtonFor(model => model.Operator, "Multiply") *
                    <br>
                    @Html.RadioButtonFor(model => model.Operator, "Divide") /
                </h2>
            </div>
            <input type="submit" name="Index" value="Index"  />
        </div>
    </div>
}

